header {
  position        : fixed;
  left            : 0;
  top             : 0;
  z-index         : 5;
  width           : 100%;
  height          : 60px;
  background-color: #fff;
  box-shadow      : 0 0 2px #ccc;
  transition      : $tr4;

  .logo {
    height     : 60px;
    line-height: 60px;
    float      : left;
    color      : #007FFF;
    text-shadow: 0 0 1px #ccc;
  }

  nav {
    height    : 60px;
    float     : right;
    transition: $tr4;

    a {
      line-height: 60px;
      color      : #000;
      display    : inline-block;
      padding    : 0 20px;
      transition : $tr4;
      text-shadow: 0 0 1px #ccc;

      &:hover {
        background-color: #fff;
        color           : #007FFF;
        transition      : $tr4;
      }

      &.on {
        background-color: #fff;
        color           : #007FFF;
        transition      : $tr4;
      }
    }
    @media screen and (max-width: 768px) {
      position        : fixed;
      height          : 100%;
      top             : 0;
      right           : 0;
      width           : 100px;
      background-color: #fff;
      transform       : translateX(100px);

      a {
        width     : 100%;
        padding   : 0;
        text-align: center;
      }
    }
  }

  .navbar {
    position: fixed;
    right   : 15px;
    top     : 15px;
    z-index : 10;
    width   : 25px;
    height  : 30px;
    display : block;
    overflow: hidden;

    .menu {
      width: 25px;

      .bar {
        height          : 3px;
        width           : 25px;
        display         : block;
        position        : relative;
        background-color: #007fff;
        border-radius   : 50px;
        margin          : 5px 0;
        transition      : all 0.4s ease 0s;
      }
    }
  }
}

#navshow {
  display: none;
}

.shadow {
  background-color: rgba(0,0,0,0.5);
  width           : 100vw;
  height          : 100vh;
  z-index         : 9;
  position        : fixed;
  top             : 0;
  left            : 0;
  opacity         : 0;
  visibility      : hidden;
  transition      : $tr4;
}
@media screen and (max-width: 768px) {
  #navshow:checked ~ header nav {
    transform : translateX(100px);
    transition: $tr4;
  }

  #navshow:checked ~ header .bar:nth-of-type(1) {
    transform       : translateY(8px) rotate(45deg);
    transition      : $tr4;
    background-color: #fff;
  }

  #navshow:checked ~ header .bar:nth-of-type(2) {
    transform       : translateX(100px);
    transition      : $tr4;
    background-color: #fff;
  }

  #navshow:checked ~ header .bar:nth-of-type(3) {
    transform       : translateY(-8px) rotate(-45deg);
    transition      : $tr4;
    background-color: #fff;
  }

  #navshow:checked ~ footer,
  #navshow:checked ~ header,
  #navshow:checked ~ main {
    transform : translateX(-100px);
    transition: $tr4;
  }

  #navshow:checked ~ header .shadow {
    opacity   : 1;
    visibility: visible;
    transition: $tr4;
  }
}

main {
  padding-top: 60px;
  transition : $tr4;
  // height     : calc(100% - 100px);
}