<section class="section section4" id="section1">
  <div class="inner">
    <h2>栅格 采用flexboxgrid 处理响应式布局</h2>
    <p class="description"><a data-ajax="no" href="http://flexboxgrid.com">官方文档&nbsp;:&nbsp;&nbsp;http://flexboxgrid.com</a></p>
    <h3>示例:</h3>
    <p>注：xs(小于768) sm(大于768小于1024) md(大于1024小于1200) lg(大于1200)</p>
    <pre class="content2"><div codelighter='html'><div class="row">
<div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
<div class="box-row"></div>
</div>
<div class="col-xs-6 col-sm-6 col-md-8 col-lg-10">
<div class="box-row"></div>
</div>
<div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
<div class="box-row"></div>
</div>
</div></div></pre>
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
        <div class="box-row"></div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-8 col-lg-10">
        <div class="box-row"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
        <div class="box-row"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
        <div class="box-row"></div>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-11">
        <div class="box-row"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-sm-6 col-md-8 col-lg-10">
        <div class="box-row"></div>
      </div>
      <div class="col-xs-2 col-sm-6 col-md-4 col-lg-2">
        <div class="box-row"></div>
      </div>
    </div>

  </div>
</section>
