<section class="section section5" id="section4">
  <div class="inner">
    <h2>滚动视差背景动画 parallax</h2>
    <p class='description'><a data-ajax="no" href="https://github.com/pixelcog/parallax.js/">官方文档&nbsp;:&nbsp;&nbsp;https://github.com/pixelcog/parallax.js/</a></p>
    <h3>示例:</h3>
    <p>&nbsp;</p>
    <p>html代码</p>
    <pre class="content2"><div codelighter='html'>  <div class="parallax" data-velocity="-.3"></div></div></pre>
    <p>引入方式</p>
    <pre class="content2"><div codelighter='javascript'>  import '../components/parallax/jquery.scrolly.js';</div></pre>
    <p>js代码</p>
    <pre class="content2"><div codelighter='javascript'>$('.parallax').scrolly({
bgParallax: true
});</div></pre>
    <div class="parallax-window">
      <h2>parallax</h2>
      <div class="parallax" data-velocity="-.3" style="background-image: url(img/stellar-spire-eagle-nebula-1400x900.jpg);"></div>
    </div>
  </div>
</section>
