<section class="section section5" id="section5">
  <div class="inner">
    <h2>滚动加载动画 AOS</h2>
    <p class='description'><a data-ajax="no" href="http://michalsnik.github.io/aos/">官方文档&nbsp;:&nbsp;&nbsp;http://michalsnik.github.io/aos/</a></p>
    <h3>示例:</h3>
    <pre class="content2"><div codelighter='html'>    <div class="item "
      data-aos="fade" data-aos-once="false">
<div class="box-row">fade</div>
</div></div></pre>
    <table>
      <tbody>
        <tr class="firstRow">
          <td width="171" valign="top" style="word-break: break-all;"><strong>属性</strong></td>
          <td width="573" valign="top" style="word-break: break-all;"><strong>属性</strong></td>
          <td width="154" valign="top" style="word-break: break-all;"><strong>属性</strong></td>
          <td width="170" valign="top" style="word-break: break-all;"><strong>默认值</strong></td>
        </tr>
        <tr>
          <td width="171" valign="top" style="word-break: break-all;">aos-offset</td>
          <td width="573" valign="top" style="word-break: break-all;">是立刻触发动画还是在指定时间之后触发动画</td>
          <td width="154" valign="top" style="word-break: break-all;">200</td>
          <td width="170" valign="top" style="word-break: break-all;">120</td>
        </tr>
        <tr>
          <td width="171" valign="top" style="word-break: break-all;">aos-duration</td>
          <td width="573" valign="top" style="word-break: break-all;">动画持续时间</td>
          <td width="154" valign="top" style="word-break: break-all;">600</td>
          <td width="170" valign="top" style="word-break: break-all;">400</td>
        </tr>
        <tr>
          <td width="171" valign="top" style="word-break: break-all;">aos-easing</td>
          <td width="573" valign="top" style="word-break: break-all;">动画的easing动画效果</td>
          <td width="154" valign="top" style="word-break: break-all;">ease-in-sine</td>
          <td width="170" valign="top" style="word-break: break-all;">ease</td>
        </tr>
        <tr>
          <td width="171" valign="top" style="word-break: break-all;">aos-delay</td>
          <td width="573" valign="top" style="word-break: break-all;">动画的延迟时间</td>
          <td width="154" valign="top" style="word-break: break-all;">300</td>
          <td width="170" valign="top" style="word-break: break-all;">0</td>
        </tr>
        <tr>
          <td width="171" valign="top" style="word-break: break-all;">aos-anchor</td>
          <td width="573" valign="top" style="word-break: break-all;">锚元素。使用它的偏移来取代实际元素的偏移来触发动画</td>
          <td width="154" valign="top" style="word-break: break-all;">#selector</td>
          <td width="170" valign="top" style="word-break: break-all;">null</td>
        </tr>
        <tr>
          <td width="171" valign="top" style="word-break: break-all;">aos-anchor-placement</td>
          <td width="573" valign="top" style="word-break: break-all;">锚位置，触发动画时元素位于屏幕的位置</td>
          <td width="154" valign="top" style="word-break: break-all;">top-center</td>
          <td width="170" valign="top" style="word-break: break-all;">top-bottom</td>
        </tr>
        <tr>
          <td width="171" valign="top" style="word-break: break-all;">aos-once</td>
          <td width="573" valign="top" style="word-break: break-all;">动画是否只会触发一次，或者每次上下滚动都会触发</td>
          <td width="154" valign="top" style="word-break: break-all;">true</td>
          <td width="170" valign="top" style="word-break: break-all;">false</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="fade" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">fade</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">fade-up</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="fade-down" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">fade-down</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="fade-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">fade-left</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">fade-up</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="fade-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">fade-right</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="fade-up-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">fade-up-right</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="fade-up-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">fade-up-left</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="fade-down-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">fade-down-right</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="fade-down-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">fade-down-left</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="flip-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">flip-up</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="flip-down" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">flip-down</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="flip-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">flip-left</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="flip-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">flip-right</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="slide-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">slide-up</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="slide-down" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">slide-down</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="slide-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">slide-left</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="slide-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">slide-right</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="zoom-in" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">zoom-in</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="zoom-in-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">zoom-in-up</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="zoom-in-down" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">zoom-in-down</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="zoom-in-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">zoom-in-left</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="zoom-in-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">zoom-in-right</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="zoom-out" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">zoom-out</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="zoom-out-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">zoom-out-up</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="zoom-out-down" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">zoom-out-down</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="zoom-out-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">zoom-out-left</div>
      </div>
      <div class="item col-xs-12  col-md-6 col-lg-6" data-aos="zoom-out-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <div class="box-row">zoom-out-right</div>
      </div>
    </div>
  </div>
</section>
