@charset "utf-8";

.animate-element {
  opacity            : 0;
  -webkit-perspective: 1000;
  -ms-perspective    : 1000;
}

.no-transform .animate-element {
  opacity: 1;
}

.animate-element.in-viewport.fade-in {
  -webkit-animation: fade 0.7s 1 cubic-bezier(0.445,.05,.55,.95);
  -moz-animation   : fade 0.7s 1 cubic-bezier(0.445,.05,.55,.95);
  -o-animation     : fade 0.7s 1 cubic-bezier(0.445,.05,.55,.95);
  animation        : fade 0.7s 1 cubic-bezier(0.445,.05,.55,.95);
  opacity          : 1;
}

.animate-element.in-viewport.scale-up {
  -webkit-animation: scale 0.7s 1 cubic-bezier(0.445,.05,.55,.95);
  -moz-animation   : scale 0.7s 1 cubic-bezier(0.445,.05,.55,.95);
  -o-animation     : scale 0.7s 1 cubic-bezier(0.445,.05,.55,.95);
  animation        : scale 0.7s 1 cubic-bezier(0.445,.05,.55,.95);
  opacity          : 1;
}

.animate-element.in-viewport.scale-down {
  animation: scale2 0.7s 1 cubic-bezier(0.445,.05,.55,.95);
  opacity  : 1;
}

.animate-element.in-viewport.right-to-left {
  -webkit-animation: right_to_left 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -moz-animation   : right_to_left 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -o-animation     : right_to_left 0.6s 1 cubic-bezier(0.77,0,.175,1);
  animation        : right_to_left 0.6s 1 cubic-bezier(0.77,0,.175,1);
  opacity          : 1;
}

.animate-element.in-viewport.left-to-right {
  -webkit-animation: left_to_right 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -moz-animation   : left_to_right 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -o-animation     : left_to_right 0.6s 1 cubic-bezier(0.77,0,.175,1);
  animation        : left_to_right 0.6s 1 cubic-bezier(0.77,0,.175,1);
  opacity          : 1;
}

.animate-element.in-viewport.top-to-bottom {
  -webkit-animation: top_to_bottom 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -moz-animation   : top_to_bottom 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -o-animation     : top_to_bottom 0.6s 1 cubic-bezier(0.77,0,.175,1);
  animation        : top_to_bottom 0.6s 1 cubic-bezier(0.77,0,.175,1);
  opacity          : 1;
}

.animate-element.in-viewport.top-to-bottom1 {
  -webkit-animation: top_to_bottom1 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -moz-animation   : top_to_bottom 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -o-animation     : top_to_bottom1 0.6s 1 cubic-bezier(0.77,0,.175,1);
  animation        : top_to_bottom1 0.6s 1 cubic-bezier(0.77,0,.175,1);
  opacity          : 1;
}

.animate-element.in-viewport.bottom-to-top {
  -webkit-animation: bottom_to_top 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -moz-animation   : bottom_to_top 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -o-animation     : bottom_to_top 0.6s 1 cubic-bezier(0.77,0,.175,1);
  animation        : bottom_to_top 0.6s 1 cubic-bezier(0.77,0,.175,1);
  opacity          : 1;
}

.animate-element.in-viewport.flip-x {
  -webkit-animation: flip_x 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -moz-animation   : flip_x 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -o-animation     : flip_x 0.6s 1 cubic-bezier(0.77,0,.175,1);
  animation        : flip_x 0.6s 1 cubic-bezier(0.77,0,.175,1);
  opacity          : 1;
}

.animate-element.in-viewport.flip-y {
  -webkit-animation: flip_y 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -moz-animation   : flip_y 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -o-animation     : flip_y 0.6s 1 cubic-bezier(0.77,0,.175,1);
  animation        : flip_y 0.6s 1 cubic-bezier(0.77,0,.175,1);
  opacity          : 1;
}

.animate-element.in-viewport.left-to-right1 {
  -webkit-animation: left_to_right1 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -moz-animation   : left_to_right1 0.6s 1 cubic-bezier(0.77,0,.175,1);
  -o-animation     : left_to_right1 0.6s 1 cubic-bezier(0.77,0,.175,1);
  animation        : left_to_right1 0.6s 1 cubic-bezier(0.77,0,.175,1);
  opacity          : 1;
}
@-webkit-keyframes flip_x {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity          : 0;
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity          : 1;
  }
}
@-moz-keyframes flip_x {
  0% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity       : 0;
  }

  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity       : 1;
  }
}
@-o-keyframes flip_x {
  0% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity     : 0;
  }

  100% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity     : 1;
  }
}
@keyframes flip_x {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity  : 0;
  }

  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity  : 1;
  }
}
@-webkit-keyframes flip_y {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity          : 0;
  }

  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity          : 1;
  }
}
@-moz-keyframes flip_y {
  0% {
    -moz-transform: perspective(400px) rotateY(90deg);
    opacity       : 0;
  }

  100% {
    -moz-transform: perspective(400px) rotateY(0deg);
    opacity       : 1;
  }
}
@-o-keyframes flip_y {
  0% {
    -o-transform: perspective(400px) rotateY(90deg);
    opacity     : 0;
  }

  100% {
    -o-transform: perspective(400px) rotateY(0deg);
    opacity     : 1;
  }
}
@keyframes flip_y {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity  : 0;
  }

  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity  : 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0.3);
    opacity          : 0.1;
  }

  100% {
    -webkit-transform: scale(1);
    opacity          : 1;
  }
}
@-moz-keyframes scale {
  0% {
    -moz-transform: scale(0.3);
    opacity       : 0.1;
  }

  100% {
    -moz-transform: scale(1);
    opacity       : 1;
  }
}
@-o-keyframes scale {
  0% {
    -o-transform: scale(0.3);
    opacity     : 0.1;
  }

  100% {
    -o-transform: scale(1);
    opacity     : 1;
  }
}
@keyframes scale {
  0% {
    transform: scale(0.3);
    opacity  : 0.1;
  }

  100% {
    transform: scale(1);
    opacity  : 1;
  }
}
@keyframes scale2 {
  0% {
    transform: scale(1.3);
    opacity  : 0.1;
  }

  100% {
    transform: scale(1);
    opacity  : 1;
  }
}
@-webkit-keyframes left_to_right {
  0% {
    -webkit-transform: translate(-15%,0);
    opacity          : 0;
  }

  100% {
    -webkit-transform: translate(0,0);
    opacity          : 1;
  }
}
@-moz-keyframes left_to_right {
  0% {
    -moz-transform: translate(-15%,0);
    opacity       : 0;
  }

  100% {
    -moz-transform: translate(0,0);
    opacity       : 1;
  }
}
@-o-keyframes left_to_right {
  0% {
    -o-transform: translate(-15%,0);
    opacity     : 0;
  }

  100% {
    -o-transform: translate(0,0);
    opacity     : 1;
  }
}
@keyframes left_to_right {
  0% {
    transform: translate(-15%,0);
    opacity  : 0;
  }

  100% {
    transform: translate(0,0);
    opacity  : 1;
  }
}
@-webkit-keyframes right_to_left {
  0% {
    -webkit-transform: translate(15%,0);
    opacity          : 0;
  }

  100% {
    -webkit-transform: translate(0,0);
    opacity          : 1;
  }
}
@-moz-keyframes right_to_left {
  0% {
    -moz-transform: translate(15%,0);
    opacity       : 0;
  }

  100% {
    -moz-transform: translate(0,0);
    opacity       : 1;
  }
}
@-o-keyframes right_to_left {
  0% {
    -o-transform: translate(15%,0);
    opacity     : 0;
  }

  100% {
    -o-transform: translate(0,0);
    opacity     : 1;
  }
}
@keyframes right_to_left {
  0% {
    transform: translate(15%,0);
    opacity  : 0;
  }

  100% {
    transform: translate(0,0);
    opacity  : 1;
  }
}
@-webkit-keyframes bottom_to_top {
  0% {
    -webkit-transform: translate(0,60%);
    opacity          : 0;
  }

  100% {
    -webkit-transform: translate(0,0);
    opacity          : 1;
  }
}
@-moz-keyframes bottom_to_top {
  0% {
    -moz-transform: translate(0,60%);
    opacity       : 0;
  }

  100% {
    -moz-transform: translate(0,0);
    opacity       : 1;
  }
}
@-o-keyframes bottom_to_top {
  0% {
    -o-transform: translate(0,60%);
    opacity     : 0;
  }

  100% {
    -o-transform: translate(0,0);
    opacity     : 1;
  }
}
@keyframes bottom_to_top {
  0% {
    transform: translate(0,60%);
    opacity  : 0;
  }

  100% {
    transform: translate(0,0);
    opacity  : 1;
  }
}
@-webkit-keyframes top_to_bottom {
  0% {
    -webkit-transform: translate(0,-20%);
    opacity          : 0;
  }

  100% {
    -webkit-transform: translate(0,0);
    opacity          : 1;
  }
}
@-moz-keyframes top_to_bottom {
  0% {
    -moz-transform: translate(0,-20%);
    opacity       : 0;
  }

  100% {
    -moz-transform: translate(0,0);
    opacity       : 1;
  }
}
@-o-keyframes top_to_bottom {
  0% {
    -o-transform: translate(0,-20%);
    opacity     : 0;
  }

  100% {
    -o-transform: translate(0,0);
    opacity     : 1;
  }
}
@keyframes top_to_bottom {
  0% {
    transform: translate(0,-20%);
    opacity  : 0;
  }

  100% {
    transform: translate(0,0);
    opacity  : 1;
  }
}
@-webkit-keyframes top_to_bottom1 {
  0% {
    -webkit-transform: translate(0,-100%);
    opacity          : 0;
  }

  100% {
    -webkit-transform: translate(0,0);
    opacity          : 1;
  }
}
@-moz-keyframes top_to_bottom1 {
  0% {
    -moz-transform: translate(0,-100%);
    opacity       : 0;
  }

  100% {
    -moz-transform: translate(0,0);
    opacity       : 1;
  }
}
@-o-keyframes top_to_bottom1 {
  0% {
    -o-transform: translate(0,-100%);
    opacity     : 0;
  }

  100% {
    -o-transform: translate(0,0);
    opacity     : 1;
  }
}
@keyframes top_to_bottom1 {
  0% {
    transform: translate(0,-100%);
    opacity  : 0;
  }

  100% {
    transform: translate(0,0);
    opacity  : 1;
  }
}
@-webkit-keyframes left_to_right1 {
  0% {
    -webkit-transform: translate(-15%,0);
    opacity          : 0;
  }

  100% {
    -webkit-transform: translate(0,0);
    opacity          : 1;
  }
}
@-o-keyframes left_to_right1 {
  0% {
    -o-transform: translate(-15%,0);
    opacity     : 0;
  }

  100% {
    -o-transform: translate(0,0);
    opacity     : 1;
  }
}
@keyframes left_to_right1 {
  0% {
    transform: translate(-15%,0);
    opacity  : 0;
  }

  100% {
    transform: translate(0,0);
    opacity  : 1;
  }
}