html {
  height: 100%;
}

body {
  height  : 100%;
  overflow: hidden;
}

.mCSB_scrollTools {
  z-index: 10;
  width  : 5px;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #0a60ab;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width        : 100%;
  border-radius: 0;
}
// h1 {
//   color: rgb(18, 61, 141);
// }

a {
  text-decoration: none;
}

.gray {
  background-color: gray;
}
/* 进度条 */
#progress {
  position  : fixed;
  height    : 2px;
  top       : 0;
  background: #d60011;
  transition: opacity 500ms linear;
  z-index   : 99999;

  &.done {
    opacity: 0;
  }

  span {
    position             : absolute;
    height               : 2px;
    -webkit-box-shadow   : #d60011 1px 0 6px 1px;
    -webkit-border-radius: 100%;
    opacity              : 1;
    width                : 150px;
    right                : -10px;
    -webkit-animation    : pulse 4s ease-out 0s infinite;
  }
}
@-webkit-keyframes pulse {
  30% {
    opacity: 0.6;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}
/* alert_player */
.alert_player {
  position: fixed;
  top     : 0;
  width   : 100%;
  height  : 100%;
  z-index : 99999999;

  .bg {
    width     : 100%;
    height    : 100%;
    position  : absolute;
    top       : 0;
    left      : 0;
    background: rgba(0, 0, 0, .5);
  }

  .layer {
    width        : 360px;
    height       : 140px;
    position     : absolute;
    margin       : -60px 0 0 -180px;
    left         : 50%;
    top          : 50%;
    background   : #fff;
    border-radius: 10px;
    text-align   : center;
  }

  .info {
    height       : 50%;
    line-height  : 360%;
    border-bottom: 1px solid #ccc;
    color        : #0a60ab;
  }

  .queren_btn {
    background   : #0a60ab;
    display      : inline-block;
    padding      : 14px 60px;
    margin       : 10px 0 0;
    color        : #fff;
    border-radius: 10px;
  }
}
/*文字省略号*/

.text-hidden {
  display      : block;
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
}
/*水平垂直居中*/

.wh-center {
  display            : -webkit-box;
  display            : -ms-flexbox;
  display            : -webkit-flex;
  display            : flex;
  -webkit-box-pack   : center;
  -ms-flex-pack      : center;
  justify-content    : center;
  -webkit-box-align  : center;
  -ms-flex-align     : center;
  -webkit-align-items: center;
  align-items        : center;
}
/*垂直居中*/

.h-center {
  display            : -webkit-box;
  display            : -ms-flexbox;
  display            : -webkit-flex;
  display            : flex;
  -webkit-box-align  : center;
  -ms-flex-align     : center;
  -webkit-align-items: center;
  align-items        : center;
}
/*分组父级*/

.felx-box {
  display              : -webkit-box;
  -webkit-box-orient   : horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack     : justify;
  -webkit-box-align    : center;
  display              : flex;
  flex-flow            : row nowrap;
  align-items          : left;
}
/*分组子级*/

.felx-item {
  -webkit-box-flex: 1;
  flex-basis      : 1;
  flex-grow       : 1;
  flex-shrink     : 1;
  flex            : 1 1 1;
}
/*页面动画设置*/
.pjaxcontainer {
  //opacity: 1;
  // filter: blur(0);
  // -webkit-filter: blur(0);
  // -moz-filter: blur(0);
  // -o-filter: blur(0);
  // -ms-filter: blur(0);
  // &.on {
  //   //opacity: 0;
  //   filter: blur(5px);
  //   -webkit-filter: blur(5px);
  //   -moz-filter: blur(5px);
  //   -o-filter: blur(5px);
  //   -ms-filter: blur(5px);
  //   @include tr(all, 0.4s);
  // }
}
/*pc*/
.pc {
  display: block!important;
}
/*手机*/

.wap {
  display: none!important;
}
/*container*/
.container {
  @include css-set($container-width);
  margin  : 0 auto;
  overflow: hidden;
  position: relative;
}

.container-without-overflow {
  @include css-set($container-width);
  margin  : 0 auto;
  position: relative;
}

.container-without-position {
  @include css-set($container-width);
  margin  : 0 auto;
  overflow: hidden;
  position: relative;
}

.container-without-all {
  @include css-set($container-width);
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}