<% var data = {
  title: "组件-cool web"
}; %>
<%= _.template(require('../includes/header.html'))(data) %>
<main class="main page-animate">
  <article class="components" data-controller="components">
    <section class="er-banner">
      <div class="container " style="">
        <h1>组件</h1>
        <p>一些常用的Jquery组件,安装与使用</p>
      </div>
    </section>
    <div class="row page container">
      <section class="page-left col-xs-12  col-lg-10">
        <%= _.template(require('../includes/components/section1.html'))() %>
        <%= _.template(require('../includes/components/section2.html'))() %>
        <%= _.template(require('../includes/components/section3.html'))() %>
        <%= _.template(require('../includes/components/section4.html'))() %>
        <%= _.template(require('../includes/components/section5.html'))() %>
      </section>
      <aside class="page-right col-xs-12  col-lg-2">
        <ul>
          <li><a href="components.html" data-jump="no" data-target="#section1">栅格</a></li>
          <li><a href="components.html" data-jump="no" data-target="#section2">swiper</a></li>
          <li><a href="components.html" data-jump="no" data-target="#section3">头像裁剪</a></li>
          <li><a href="components.html" data-jump="no" data-target="#section4">视差背景</a></li>
          <li><a href="components.html" data-jump="no" data-target="#section5">滚动动画</a></li>
        </ul>
      </aside>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        console.log('我是components页面上的js,我发誓我能被加载!')
      });
    </script>
  </article>
</main>

<%= _.template(require('../includes/footer.html'))(data) %>
